/* EventCreationModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.modal-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 100;
}

/* Fade In/Out for Overlay */
.fade-in {
    animation: fadeIn 0.3s forwards;
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}

/* Scale In/Out for Modal Content */
.scale-in {
    animation: scaleIn 0.3s forwards;
}

.scale-out {
    animation: scaleOut 0.3s forwards;
}


@keyframes closingAnimation {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    10% {
        opacity: 0.90;
        transform: scale(0.90);
    }
    20% {
        opacity: 0.80;
        transform: scale(0.80);
    }
    30% {
        opacity: 0.70;
        transform: scale(0.70);
    }
    40% {
        opacity: 0.60;
        transform: scale(0.60);
    }
    50% {
        opacity: 0.5;
        transform: scale(0.50);
    }
    60% {
        opacity: 0.40;
        transform: scale(0.40);
    }
    70% {
        opacity: 0.30;
        transform: scale(0.30);
    }
    80% {
        opacity: 0.20;
        transform: scale(0.20);
    }
    90% {
        opacity: 0.10;
        transform: scale(0.10);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
.tilt {
    animation: closingAnimation 1s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes scaleIn {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes scaleOut {
    from { transform: scale(1); opacity: 1; }
    to { transform: scale(0.9); opacity: 0; }
}
