
.search-input {
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

.event-card {
    /* opacity: 0;  */
    animation: slideIn 0.7s;
    animation-timing-function: ease-out;
    transition: transform 0.5s ease, opacity 0.17s ease;
}

.event-card:hover {
    transform: scale(1.05); 
    opacity: 0.9; 
}


@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0; 
    }
    to {
        transform: translateX(0);
        opacity: 1; 
    }
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
body {
    /* background: linear-gradient(135deg, #f0f4f8, #a7c6ed); */
    background-size: 200% 200%;
    animation: gradientAnimation 20s ease infinite; 
    background-image: url(../assets/backGroundImage.jpg);
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.parallax {
    /* background-image: url(../assets/backGroundImage.jpg); */
    background: transparent;
    padding: 20px;
    border-radius: 8px;
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3b82f6; 
}
