.search-input {
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

.event-card {
    /* opacity: 0;  */
    animation: slideIn 0.7s;
    animation-timing-function: ease-out;
    transition: transform 0.5s ease, opacity 0.17s ease; /* Transition for hover effect */
}

.event-card:hover {
    transform: scale(1.05); /* Scale on hover */
    opacity: 0.9; /* Slightly fade on hover */
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0; /* Start fully transparent */
    }
    to {
        transform: translateX(0);
        opacity: 1; /* Fully visible */
    }
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.parallax {
    background: linear-gradient(to bottom right, #fffacd, #ffb6c1, #9370db, #add8e6);
    padding: 20px;
    border-radius: 8px;
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3b82f6; /* Change this color to match your design */
}
